# Evitar caché para CSS y JS
<FilesMatch "\.(css|js)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</FilesMatch>

#For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymlinks
Options +SymLinksIfOwnerMatch
Options -Multiviews
Options -Indexes
RewriteEngine on
RewriteBase /

RewriteRule ^/$ index.php [L]
RewriteRule ^(en|es)/(.*)$ $2.php?lang=$1 [QSA,L]

RewriteRule ^port-experience/([^/]+)$ single-port-experience.php?point=$1 [L,QSA]

RewriteRule ^blog/([^/]+)$ blog.php?title=$1 [L,QSA]
# Bloquear acceso a todo el directorio vendor
RedirectMatch 403 ^/vendor/.*$

<Directory "/ruta/a/tu/proyecto/vendor">
    Deny from all
</Directory>
# Bloquear acceso a archivos sensibles
<FilesMatch "^(composer\.(json|lock)|launch\.json|package\.json|package-lock\.json|yarn\.lock|\.env)$">
    Require all denied
</FilesMatch>
#Redirecciones 404
#RewriteCond %{REQUEST_URI} !^/(en|es)/404$#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /en/404 [L,QSA]

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

