#For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymlinks
Options +SymLinksIfOwnerMatch
Options -Multiviews
Options -Indexes
RewriteEngine on
RewriteBase /tainobay/

RewriteRule ^/$ index.php [L]
RewriteRule ^(en|es)/(.*)$ $2.php?lang=$1 [QSA,L]

RewriteRule ^port-experience/([^/]+)$ single-port-experience.php?point=$1 [L,QSA]

RewriteRule ^blog/([^/]+)$ blog.php?title=$1 [L,QSA]

#Redirecciones 404
#RewriteCond %{REQUEST_URI} !^/(en|es)/404$#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /en/404 [L,QSA]

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

