@font-face {
  font-family: "monserrat-black";
  src: url("fonts/Montserrat-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "monserrat";
  src: url("fonts/Montserrat-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  overflow: hidden;
  height: 100%;
  background: #54c0e8;
  background-image: url("img/fondoTB-cel.jpg");
  background-size: cover;
}
input,
form {
  font-family: "monserrat", sans-serif;
}
/* a {
  font-family: "monserrat-black", sans-serif;
} */
body {
  background-repeat: no-repeat;
  /* min-width: 300px; */
  min-width: 100%;
  width: 100%;
  margin: 0;
  height: 100vh;
  min-height: 100dvh;
  overflow: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-image: url("img/text-wifi.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.text-social span {
  color: #1b61ab;
  font-size: 0.7rem;
  text-decoration: none !important;
  line-height: 12px;
  font-family: "monserrat-black", sans-serif;
  /* font-weight: 600; */
  letter-spacing: 0.5px;
}
.text-social-container {
  z-index: 3;
}
.icon-social {
  color: #1b61ab;
  width: 1.3rem;
}
.logo {
  width: 200px;
  position: relative;
  top: 20px;
}
.login {
  font-family: arial;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 2;
}
.login .logo {
  display: block;
  border-radius: 10px;
  margin: 0 auto 30px;
}
/* .login a, */
.login a:visited {
  text-decoration: none;
  color: #1b61ab;
}
.img-border-container {
  position: absolute;
  bottom: -8px;
  top: 0;
  /* max-width: 85px; */
  overflow: hidden;
  z-index: 2;
}
.left {
  left: -10px;
}
.right {
  right: -10px;
}
.img-border {
  height: 100%;
  width: auto;
  object-fit: contain;
}
ul.notice {
  margin: 30px auto;
  width: 200px;
  text-align: center;
  list-style-position: inside;
  font-size: 15px;
  padding: 20px 30px;
  border-radius: 3px;
}
ul.notice.errors {
  background-color: #fff4f4;
  border: 1px solid #f50909;
  color: #f50909;
}
ul.notice.success {
  background-color: #d7eacd;
  border: 1px solid #6fae4f;
  color: #6fae4f;
}
ul.notice li {
  padding: 5px 0;
}
.vertical-form {
  margin: 0 auto;
  height: 140px;
}
.vertical-form legend {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 30px 0;
}
.vertical-form input[type="text"],
.vertical-form input[type="password"],
.vertical-form input[type="number"] {
  border: 2px #fff solid;
  color: #c1c1c1;
  background: transparent;
  opacity: 1;
  filter: alpha(opacity=95);
  height: 30px;
  font-size: 12px;
  padding: 0 10px;
}
.vertical-form input[type="text"],
.vertical-form input[type="password"],
.vertical-form input[type="submit"],
.vertical-form input[type="number"] {
  display: block;
  margin: 0 auto 8px auto;
  width: 200px;
  text-align: left;
  /* border-radius: 2px; */
  color: #fff;
  outline: none;
  font-family: inherit;
  border-radius: 25px;
}
.vertical-form input[type="submit"] {
  border-radius: 25px;
  -webkit-appearance: none;
  color: #fff;
  background: #1b61ab;
  background-image: url("img/icon-key.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  filter: alpha(opacity=95);
  position: relative;
  left: 92px;
  top: -48px;
  border: 2px solid #fff;
  border-radius: 30px;
  text-align: center;
  height: 45px;
  width: 45px;
  font-size: 11px;
  font-weight: 400;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.vertical-form input::placeholder {
  color: #fff; /* Cambia este valor al color que desees */
  opacity: 1; /* Asegura que el color se vea de forma completa */
}

.vertical-form input:hover[type="submit"] {
  background-color: #fff;
  /* background-image: url("img/lock.png"); */
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.vertical-form .footer {
  text-align: center;
}
.vertical-form .footer p:first-child {
  color: #fff;
}
.vertical-form .footer a:first-child {
  border-bottom: solid 1px #ccc;
  text-decoration: none;
}
.vertical-form .footer p:nth-child(2) a {
  border-bottom: solid 1px #000;
}
@media (max-width: 200px) {
  .login {
    padding: 0px 0 0 0;
  }
}

@media (min-width: 768px) {
  .img-border-container {
    max-width: 140px;
  }
  body {
    background-image: url("img/fondoTB-cel.jpg");
  }
}

/* lg 1024px  */
@media (min-width: 1024px) {
  body::before {
    background-size: contain;
    background-image: url("img/text-wifi.png");
    height: 100dvh;
  }
  body {
    background: #54c0e8;
    background-image: url("img/fondoTB-cel.jpg");
    background-size: contain;
    background-repeat: round;
    background-position-x: center;
  }
  .img-border-container {
    max-width: 200px;
  }
  .img-border {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  .vertical-form {
    height: 140px;
  }
  .text-social span {
    font-size: 1rem;
    font-family: "monserrat", sans-serif;
    font-weight: bold;
  }
  .icon-social {
    width: 1.5rem;
  }
}

/* xl 1280px  */
@media (min-width: 1280px) {
  body {
    background: #54c0e8;
    background-image: url("img/fondoTB.jpg");
    background-size: contain;
    background-repeat: round;
    background-position-x: center;
  }
  .vertical-form {
    height: 140px;
  }
}

@media (min-width: 1600px) {
  .vertical-form {
    height: 180px;
  }
}
html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
